$subtlepink: rgb(13, 1, 1);
$subtleblue: rgb(225, 225, 225);
$buttonsize: 150px; 
  

#debateBtn {
   
    margin: auto;
    padding: 0;
    border: none;
    border-radius: 35%;
    width: $buttonsize;
    height: $buttonsize;
    background: rgb(0, 0, 0);
    background: linear-gradient(30deg, $subtlepink 0%, $subtleblue 100%);
    color: rgb(255, 255, 255);
    font-size: 2.6em;
    font-weight: 600;

    box-shadow: inset 0 0 35px 0px rgba(0, 0, 0, 0.25),
        inset 0 2px 1px 1px rgba(255, 255, 255, 0),
        1px 1px 15px 2px rgba(154, 137, 164, 0.5);

    text-shadow: 1px -1px 3px rgba(143, 162, 199, 1),
        -1px 1px 3px rgba(192, 151, 178, 1);
    outline: none;

    -webkit-transition: box-shadow 0.4s, text-shadow 0.5s;
    -moz-transition: box-shadow 0.4s, text-shadow 0.5s;
    transition: box-shadow 0.4s, text-shadow 0.5s;

    &:hover {
        cursor: pointer;
        transform: scale(1.20);

        box-shadow: inset 0 0 35px 0px rgba(0, 0, 0, 5.15),
            inset 0 2px 1px 1px rgba(255, 255, 255, 0),
            1px 1px 15px 2px rgba(154, 137, 164, 0.1);

        text-shadow: 3px -3px 5px rgba(143, 162, 199, 1),
            -3px 3px 5px rgba(192, 151, 178, 1);

        -webkit-transition: box-shadow 0.4s, text-shadow 0.5s;
        -moz-transition: box-shadow 0.4s, text-shadow 0.5s;
        transition: box-shadow 0.4s, text-shadow 0.5s;
    }

    &:active {
        background: linear-gradient(
            30deg,
            rgba(210, 178, 212, 1) 0%,
            rgba(177, 183, 223, 1) 100%
        );
        color: rgba(192, 181, 218, 1);

        box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.15),
            1px 1px 15px 2px rgba(154, 137, 164, 0.1);

        text-shadow: 1px -1px 1px rgba(143, 162, 199, 0.75),
            -1px 1px 1px rgba(192, 151, 178, 0.75);

        -webkit-transition: background 0.3s color 0.2s,
            text-shadow 0.3s box-shadow 0.3s;
        -moz-transition: background 0.3s color 0.2s,
            text-shadow 0.3s box-shadow 0.3s;
        transition: background 0.3s color 0.2s, text-shadow 0.3s box-shadow 0.3s;
    }
}

.logout-btn {
    font-family: Hack, monospace;
    background: #d3d3d3;
    color: #2c2c2c;
    cursor: pointer;
    font-size: 2em;
    padding: 1.5rem;
    border: 0;
    transition: all 0.5s;
    border-radius: 10px;
    width: auto;
    position: relative;
    min-width: 250px;

    &::after {
        content: "\f2f5";
        font-family: "Font Awesome 5 Pro";
        font-weight: 400;
        position: absolute;
        left: 80%;
        top: 54%;
        right: 0;
        bottom: 0;
        opacity: 0;
        transform: translate(-50%, -50%);

    }

    &:hover {
        background: #2b2bff;
        transition: all 0.5s;
        border-radius: 10px;
        box-shadow: 0px 6px 15px #0000ff61;
        padding: 1.5rem 3rem 1.5rem 1.5rem;
color: #ffffff;
        &::after {
            opacity: 1;
            transition: all 0.5s;
            color: #ffffff;

        }
    }


}

/* typing effect */
$bg: #1d1f20;
$text-color: #d7b94c;
$caret-color: white;
$text-length: 16;
$animation-time: 4s;

// .typing h1{
//     font-family: 'Inconsolata', Consolas, monospace;
// 	font-size: 4em;
// 	color: $text-color;
// }

.typing {
    position: relative;
      &::after {
      content: "|";
    //   position: absolute;
    //   right: 0;
    //   width: 100%;
      color: $caret-color;
      background: $bg;
      animation: typing $animation-time steps($text-length) forwards,
        caret 1s infinite;
    }
  }

  @keyframes typing {
	to { width: 0 }
}
@keyframes caret {
	50% { color: transparent }
}

@function random_range($min, $max) {
    $rand: random();
    $random_range: $min + floor($rand * (($max - $min) + 1));
    @return $random_range;
  }

