body{

    padding: 60px;
}
#navBar {

   
    /* background-color: black; */
    color: rgb(4, 4, 158);;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
}
#logoutBtn {

    position: absolute;
    top: 0;
    right: 0;
}

#topic {

    display: flex;
    justify-content: center;
}

#postsContainer {

    position: relative;
    margin: auto;
    width:800px;
    height: 500px;
    padding: 70px;
    border: 2px solid black;
    overflow: scroll;
} 

#stanceFor {
    float: left;   
}

#stanceAgainst {

    float: right;
}

#cardBar {

    border: 1px solid black
}

#divider {
    border-left: 6px solid green;
    height: 500px;
    margin: auto;
}



try {

    display: none;
}

#newPost {

   margin: auto;
    padding: 200px
 
}


#profile {
    display: flex;
    justify-content: center;
    padding: 30px
}

#login {

    padding: 20px;
}

#signup {

    padding: 30px;
}

#topicsContainer {

    border: 2px solid black;
    padding: 20px;
    margin: 50px;
}

#topics {

    border: 2px solid black;
    margin: 10px;
    padding: 20px;
}