* {
    box-sizing: border-box;
}
body{

    /* background: #f6f5f7; */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	/* height: 100vh; */
	/* margin: -20px 0 50px; */
	/* background: linear-gradient(90deg, #00308F 50%, #FF4B2B 50%); */
	height: 100vh;
	width: 100vw;
	margin: 0;
}
#navBar {
  
    color: rgb(4, 4, 158);;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
}
#logoutBtn {

    position: absolute;
    top: 0;
    right: 0;
}

#topic {

    display: flex;
    justify-content: center;
}

#postsContainer {

    position: relative;
    margin: auto;
    width:800px;
    height: 500px;
    padding: 70px;
    border: 2px solid black;
    overflow: scroll;
} 

#stanceFor {
    float: left;   
}

#stanceAgainst {

    float: right;
}

#cardBar {

    border: 1px solid black
}

#divider {
    border-left: 6px solid green;
    height: 500px;
    margin: auto;
}


#newPost {

   margin: auto;
    padding: 200px
 
}


#profile {
    display: flex;
    justify-content: center;
    padding: 30px
}

#login {

    padding: 20px;
}

#signup {

    padding: 30px;
}

#topicsContainer {

    border: 2px solid black;
    padding: 20px;
    margin: 50px;
}

#topics {

    border: 2px solid black;
    margin: 10px;
    padding: 20px;
}

/* login/signup */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

#loginSignup  {

	height: 100% !important;
	width: 100% !important;

}

#loginSignup h1 {

    font-weight: bold;
	margin: 0;
    color: #FFFFFF;

}

#loginSignup h2 {
    text-align: center;
	color: white;
}
#loginSignup span {
    font-size: 12px;
 }

 #loginSignup button {
	border-radius: 20px;
	border: 1px solid white;
	background-color: transparent;
	color: white;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}
#loginSignup button:active {
	transform: scale(0.95);
}
#loginSignup button:focus {
	outline: none;
}

#loginSignup button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

#loginSignup form {
	background-color: #00308F;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

#loginSignup input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}
/* #loginSignup .container {
	background-color: white;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
} */

#loginSignup .form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

#loginSignup .sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

#loginSignup .container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

#loginSignup .sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

#loginSignup .container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

#loginSignup .overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

#loginSignup .container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

#loginSignup .overlay {
	background: #00308F;
    background: -webkit-linear-gradient(to right, #FF416C, #FF4B2B);
	background: linear-gradient(to right, #FF4B2B, #FF4B2B);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

#loginSignup .container.right-panel-active .overlay {
    transform: translateX(50%);
}

#loginSignup .overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

#loginSignup .overlay-left {
	transform: translateX(-20%);
}

#loginSignup .container.right-panel-active .overlay-left {
	transform: translateX(0);
}

#loginSignup .overlay-right {
	right: 0;
	transform: translateX(0);
}

#loginSignup .container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

